.ProductCard {
    margin: 10px; /* уменьшил отступы */
    padding: 15px; /* уменьшил внутренние отступы */
    text-align: left;
    border: 1px solid #e0e0e0;
    border-radius: 8px; /* немного уменьшил радиус скругления углов */
    max-width: 400px; /* добавил максимальную ширину для предотвращения слишком широкой карточки */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ProductCard img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.ProductCard h2 {
    font-size: 1.1em; /* немного уменьшил размер заголовка */
    margin-bottom: 8px; /* немного уменьшил отступ после заголовка */
    color: #333;
}

.DownSide {
    display: flex;
    justify-content: space-between;
}